*.log
*.aux
*.gz
*.glsdefs
*.glo
*.ist
*.toc
*.pdf
*.bbl
*.bcf
*.blg
*.xml
*.fls
*.out
*.fdb_latexmk
/node_modules
004-gelfand-theory/compile_output.txt
004-gelfand-theory/gelfand-theory.glg
004-gelfand-theory/gelfand-theory.gls
009-ai/ai.synctex(busy)
009-ai/ai.idx
