*.log
*.aux
*.gz
*.glsdefs
*.glo
*.ist
*.toc
*.bbl
*.bcf
*.blg
*.xml
*.fls
*.out
*.fdb_latexmk
/node_modules
004-gelfand-theory/compile_output.txt
004-gelfand-theory/gelfand-theory.glg
004-gelfand-theory/gelfand-theory.gls
009-ai/ai.synctex(busy)
009-ai/ai.idx
009-ai/ai.aux'
009-ai/ai.tex
watch-compile.ps1
watch-compile.ps1
011-fi/fi.idx
011-fi/fi.ilg
011-fi/fi.ind
010-energy/energy.bcf-SAVE-ERROR
010-energy/energy.ind
010-energy/energy.ilg
010-energy/energy.synctex(busy)
kill-tex-orphans.ps1
watch-compile.ps1
watch-compile.ps1
004-gelfand-theory/gelfand-theory - old.idx
004-gelfand-theory/gelfand-theory - old.ilg
004-gelfand-theory/gelfand-theory - old.ind
004-gelfand-theory/gelfand-theory.ilg
004-gelfand-theory/gelfand-theory.ind
009-ai/ai.ilg
009-ai/ai.ind
999-scratch/scratch.idx
999-scratch/scratch.ilg
999-scratch/scratch.ind
011-music/music.idx
011-music/music.tmp
011-music/music.bbl-SAVE-ERROR
/011-music/tmp-ly
